<div class="d-flex" id="wrapper">

  <app-admin-sidebar *ngIf="toggledValue"></app-admin-sidebar>

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <app-admin-header (toggledChange)="toggled($event)"></app-admin-header>

    <div class="container-fluid">
      <app-admin-title></app-admin-title>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>

<!-- <h1>ADMIN</h1>
<ul>
    <li>
      <a [routerLink]="['/home']" routerLinkActive="router-link-active" >Return Home</a>
    </li>
    <li>
      <a [routerLink]="['/admin']" routerLinkActive="router-link-active" >Dashboard</a>
    </li>
    <li>
      <a [routerLink]="['/admin/users']" routerLinkActive="router-link-active" >Contacto</a>
    </li>
  </ul>
  
<router-outlet></router-outlet> -->
